input {
    display: block;
  }

  #con {
    height: 90%;
    width: 100%;
    top: 0%;
    overflow-y:auto;
    display:flex; 
    flex-direction:column-reverse;
  }
#msgr {
      word-wrap: break-word;
}
  body {
    font-family: Calibri;
    background-color: #444;
    color: rgb(235, 235, 235);
    margin:0;
  }
@media screen and (max-device-width: 600px) {
  body {
    zoom:1.5;
  }
}
@media screen and (min-device-width: 601px) {
  body {
    zoom:1;
  }
}
  
  a {
    text-decoration: underline;
    color: rgb(121, 123, 255);

  }

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    overflow: hidden;
    top: 0px;
    width: 100%;
  }
li {
  padding:10px 20px;
  float: left;
  font-size: 18px;
}
li a, .profbtn {
display: inline-block;
text-align: center;
text-decoration: none;
color: #eee;
}
img {
  float:left;
  margin-left: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  z-index: 1;
  padding:10px;
  
}

.profbtn:hover .dropdown-content {
display: block;
}
#content {
  margin-left: 5%;
  margin-right: 20%;
  padding: 5px;
  height:90%;
  border-radius: 5px;
  background-color: #333;
  font-size:1.2rem;
}
div.msginput {


}
#msginput input {
  display:inline;
  height:3rem;
  border-style: solid;
  border-color: #eee;
  border-width: 2px;
  background-color: #333;
  color: #eee;
  font-size:1rem;
}
#msgbox {
  width: 80%;
  height: 3rem;
  display:inline;
  background-color: #333;
  border-style: solid;
  border-color: #eee;
  border-width: 2px;
  color: #eee;
  font-size:1rem;
  
}

.pfp {
  border-radius: 50%;
  padding-right: 5px;
}





::-webkit-scrollbar {
  width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }