input {
    display: block;
  }
html {
  height:100%;
  max-height: 100%;
}
  #wholecontent {
    display:grid;
    height:90%;
    width:95%;
    top:5%;
    max-height: 90%;
  }

  #con {
    height: 90%;
    width: 100%;
    top: 0%;
    overflow-y:auto;
    display:flex; 
    flex-direction:column-reverse;
  }
#msgr {
      word-wrap: break-word;
}
  body {
    font-family: Calibri;
    background-color: #444;
    color: rgb(235, 235, 235);
    margin:0;
    height: 100%;
    
  }
@media screen and (max-device-width: 600px) {
  body {
    zoom:1.5;
  }
}
@media screen and (min-device-width: 601px) {
  body {
    zoom:1;
  }
}
  
  a {
    text-decoration: underline;
    color: rgb(121, 123, 255);

  }

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    overflow: hidden;
    top: 0px;
    width: 100%;
  }
li {
  padding:10px 20px;
  float: left;
  font-size: 18px;
}
li a, .profbtn {
display: inline-block;
text-align: right;
text-decoration: none;
color: #eee;
}
img {
  float:left;
  margin-left: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  z-index: 1;
  padding:3px;
  right:0%;
  margin-top:10px;
  text-align: right;
}
.dropdown-content a {
  padding:4px;
  display:block;
}
.dropdown-content a:hover {
  text-align: center;
  background-color: #888;
}

.profbtn:hover .dropdown-content {
display: block;
}
#content {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  border-radius: 5px;
  background-color: #333;
  font-size:1.2rem;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 8;
  overflow-y:auto;
}
#msginput {

padding-top:5px;
margin-top:10px;
}
#msginput input {
  display:inline;
  height:3rem;
  border-style: solid;
  border-color: #eee;
  border-width: 2px;
  background-color: #333;
  color: #eee;
  font-size:1rem;
}
#msgbox {
  width: 80%;
  height: 3rem;
  display:inline;
  background-color: #333;
  border-style: solid;
  border-color: #eee;
  border-width: 2px;
  color: #eee;
  font-size:1rem;
  
}

.pfp {
  border-radius: 50%;
  padding-right: 5px;
}

#userlist {
  background-color: #333;
  height:90%;
  grid-column-start: 8;
  grid-column-end: 9;
  padding-left:5%;
  display:block;
  text-align: center;
  font-size: 20px;
}

#users {
  margin:0;
  padding:0;
}


::-webkit-scrollbar {
  width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }