{% extends "base.html" %}
{% block content %}
<div id="wholecontent">
    <div id="content">
        <div id="con">
            <div id="msgr"></div>
        </div>
            
        <form autocomplete="off" id="msginput">
            {{ form.message(id="msgbox", maxlength=100) }}
            <input type="submit" value=">">
        </form>
    </div>
    <div id="userlist">
        <h2>connected users:</h2>
        <div id="users"></div>
    </div>
</div>
    <script>
        $("form").submit(function(e){
            if ($("#msgbox").val() != "") {
                socket.emit("message", {  message: $("#msgbox").val(), channel_id: "{{ channel_id }}", user_id: "{{ current_user.id }}" });
                $("form").trigger("reset");
            }
            e.preventDefault();
        });
        socket.on("msg",function(data) {
            console.log(data)
            var m = $("<p> <img src="+data.img+" width='36' height='36' class='pfp'><span style='color:#"+data.colour+";'>"+data.name+"</span>: "+data.message+"</p><img src="+data.sentimg+">");
		    $('#msgr').append(m);
            
        });
        socket.on("userlist_refresh",function() {
            $('#users').load("/userlist");
        });
    </script>
{% endblock %}