<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <ul>
        <a><img src="{{ url_for('static', filename='logo/logo_bw.svg') }}" width=36 height=36></img></a>
        <li style="float:right">
            <a href="/register">register</a>
            <a href="/login">login</a>
        </li>
    </ul>
    <div class="login">
        <h2>Register</h2>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.username(placeholder="username", id="username", pattern="^[A-Za-z0-9_]{1,15}$") }}
        {{ form.password(placeholder="password", id="password") }}
        <input type="submit" value="register">
    </form>
</div>
</body>