{% extends "base.html" %}
{% block content %}
<div id="content">
    <a href="{{ request.referrer }}">back</a>
    <p>burger</p>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h4>Profile picture:</h4>
        <img src="{{ url_for('static', filename='profile/'+ current_user.img) }}" width='72' height='72' class='pfp'>
        <br>
        {{ form.file(accept="image/*") }}
        <br>
        <br>
        <h4>Username colour:</h4>
        <span id="samplecolour">{{ current_user.username }}</span>
    {{ form.colour(value="#"+current_user.colour, id="colourinput", onchange="changeColour()") }} 
        <input type="submit" value="Save">
    </form>
</div>
<script>
    $("#samplecolour").css({ "color": $("#colourinput").val()});
    function changeColour() {
        $("#samplecolour").css({ "color": $("#colourinput").val()});
    }
</script>
{% endblock %}